* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bg: #222;
  --clr-primary: #f5f5f5;
  --clr-secondary: #075985;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100vh;
  background-color: var(--clr-bg);
  min-height: 100svh;
  color: var(--clr-primary);
  background-image: radial-gradient(
    circle,
    rgba(175, 208, 84, 0.25) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-size: 40px 40px;
  overflow: hidden;
}

h1 {
    margin-bottom: 20px;
}

p {
    color: #ffffff;
    margin: 20px 0;
 }

 hr {
    margin-top: 10px;
    border: 1.5px solid #333;
 }

textarea,
input {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(50, 50, 50, 0.655);
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: all .2s ease;
}

textarea:focus ,
input:focus {
  outline: none;
  border: 1px solid rgb(143, 143, 143)
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.actions button {
  padding: 10px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.add {
  margin-bottom: 1rem;
}

.note {
  background-color: rgba(50, 50, 50, 0.655);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  font-family: inherit;
  font-size: 15px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
